section.form-add-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  input, button {
    font-size: 18px;
    border: none;
    padding: 10px 20px;
  }

  button {
    background: rgb(135, 135, 253);
  }
}

@media (max-width: 768px) {
  section.form-add-task {
    width: 100%;
  
    input, button {
      font-size: 14px;
      border: none;
      width: 45%;
    }
  
    button {
      font-size: 14px;
      width: 40%;
    }
  }
}