.task-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-count {
  margin-left: 10px;
  background: rgb(235, 142, 207);
  padding: 5px 15px;
  border-radius: 9999px;
}

.task-list {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  
  ul {
    background: white;
    padding: 0 20px;
    min-width: 400px;

    li {
      list-style-type: none;
      margin: 20px 0;

      input {
        margin-right: 10px;
      }
    }
  }
}



.remove-task {
  margin-left: 20px;
  background: rgb(192, 63, 63);
  border: none;
  border-radius: 9999px;
  width: 40px;
  height: 20px;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

@media (max-width: 768px) {
  .task-list {
  
    ul {
      width: 90%;
      min-width: 90%;
    }
  }
}